html {
  color: #222;
  font-size: 100%;
  line-height: 1.4;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  font-family: 'Arial', sans-serif;
}

.display-none {
  display: none;
}

#logo {
  display:block;
  margin:auto;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.blue-color {
  color: #1e5ca9;
}
.font-weight-600 {
  font-weight: 600;
}

.max-width-600 {
  max-width: 600px;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.under-site-login {
  display: none;
}

#error-wrapper {
  border: 1px solid #cbcfd2;
  border-radius: 3px;
}

#error-inner-wrapper {
  margin: 0 40px;
  text-align: center;
}

.center-error-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .login-screen-email input, .login-screen-password input{
    width: 414px !important
  }
}

#gigya-login-screen .gigya-composite-control.gigya-composite-control-label.custom-label{
  width: inherit !important;
}

.gigya-screen.v2.portrait{
  width: 500px !important;
}

#gigya-register-screen .gigya-composite-control.gigya-composite-control-submit{
  padding-right: 25px;
}